hammock>=0.2.4
requests>=2.11.1
requests-file>=1.4.1
requests-oauthlib>=0.4.1
requests-toolbelt>=0.7.0
ujson>=1.35
pandas>=0.19.2
numpy>=1.11.3
arrow>=0.10.0
scikit-learn>=0.18.1
scipy>=0.19.1
pygogo>=0.10.0
